dash==2.17.1
gunicorn==21.2.0
Flask==2.3.3
plotly==5.22.0

numpy==1.26.4
pandas==2.2.2
scipy==1.11.4
scikit-learn==1.4.2
xarray==2023.12.0

python-dotenv==1.0.1
requests==2.32.3
openpyxl==3.1.5
bcb>=0.1.9,<1.0
